/* My general styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

/* CSS variables */
:root {
	/* Font */
	--font: "Open Sans", sans-serif;
	/* Font weights */
	--light: 300;
	--regular: 500;
	--medium: 600;
	--bold: 700;
	/* Colors */
	--white: rgb(255, 255, 255);
	--blue: rgb(26, 115, 232);
	--black: rgb(2, 136, 209);
	--grey: rgb(117, 117, 117);
	--nav-item: rgb(87, 87, 87);
}

/* Text elements formatting */
h1 {
	font-size: 52px;
	font-weight: var(--medium);
	line-height: 60px;
}

h2 {
	font-size: 24px;
	font-weight: var(--regular);
	line-height: 30px;
}

p {
	font-size: 16px;
	font-weight: var(--regular);
	line-height: 28px;
	color: var(--grey);
}

/* Flex-classes */
.flex-row {
	display: flex;
	align-items: center;
}

/* Header */
header {
	position: relative;
}

.zindexlow {
	z-index: -999;
}

.zindexhigh {
	z-index: 999;
}

/* Navbar container (first row of the header)*/
.top-row-container {
	width: 100vw;
	position: fixed;
	height: 48px;
	background-color: white;
	padding: 0 24px;
	box-shadow: 0px 5px 20px -12px rgba(0, 0, 0, 0.819);
	position: relative;
	z-index: 5;
	justify-content: space-between;
}

/* Navbar leftside (logo and nav-menu) */
.top-row-container__left {
	gap: 50px;
}

/* Navbar rightside (search box and buttons) */
.top-row-container__right {
	gap: 16px;
	flex-wrap: nowrap;
	flex-shrink: 0;
}

/* Website logo */
.website-logo {
	height: 32px;
}

/* Navbar links */
.navbar__btns {
	list-style: none;
	font-weight: var(--regular);
}

/* Navbar individual links */
.navbar__btn {
	font-size: 14px;
	padding: 0px 18px;
	color: var(--nav-item);
	height: 48px;
}

.navbar__btn a {
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.navbar__btn:hover {
	color: black;
}

/* Dropdown icons */
.dropdown-button::after {
	content: url("../assets/navbar/triangle.svg");
	position: relative;
	top: 3px;
	transition: 0.2s;
}

nav .dropdown-button:hover::after {
	transform: translateY(-20%) rotate(180deg);
}

/* Search container */
.search-container {
	padding: 0 10px;
	border-radius: 4px;
	display: flex;
	height: 36px;
	background-color: rgb(244, 244, 244);
	gap: 10px;
	width: 200px;
	transition: 0.25s;
}

.search-container:hover {
	background-color: rgb(231, 231, 231);
}

.search-icon {
	height: 24px;
}

.search-box {
	background-color: inherit;
	border: none;
	border-radius: inherit;
	width: 80%;
}

.search-box::placeholder,
.search-box {
	font-size: 16px;
	font-family: var(--font);
	color: var(--nav-item);
	font-weight: 500;
}

.search-container:focus-within {
	width: 800px;
	position: relative;
	flex-grow: 1;
	z-index: 2;
}

.search-box:focus {
	outline: none;
}

/* Language button */
.language-button {
	height: 36px;
	width: 140px;
	border: 1px solid rgb(201, 201, 201);
	border-radius: 4px;
	padding: 0 14px;
	gap: 8px;
	background-color: var(--white);
	transition: 0.2s;
}

.language-button__icon {
	height: 24px;
}

.language-button__text {
	color: rgb(30, 30, 30);
	font-weight: var(--regular);
	font-size: 14px;
}

.language-button:hover {
	background-color: rgb(238, 238, 238);
	cursor: pointer;
}

/* Console button */
.console-button {
	border-radius: 4px;
	height: 36px;
	padding: 0 6px;
	color: var(--blue);
	font-weight: var(--regular);
	font-size: 14px;
	border: none;
	background-color: white;
	transition: 0.2s;
}

.console-button:hover {
	background-color: rgb(227, 239, 255);
	cursor: pointer;
}

/* Developer button */
.developer-button {
	height: 36px;
	width: 36px;
	border-radius: 18px;
	background-color: white;
	border: 1px solid rgb(201, 201, 201);
	justify-content: center;
}

.developer-button:hover {
	cursor: pointer;
}

/* User button */
.user-button {
	height: 36px;
	width: 36px;
	border-radius: 18px;
	background-color: white;
	border: 1px solid rgb(201, 201, 201);
	justify-content: center;
	background-image: url(../assets/navbar/user.jpg);
	background-size: contain;
	transition: 0.15s;
}

.user-button:hover {
	cursor: pointer;
	border: 3px solid rgb(196, 196, 196);
}
/* Announcements container (second container, the blue one) */
.announcements-container {
	position: absolute;
	top: 48px;
	background-color: #e1f3fc;
	color: blue;
	width: 100vw;
	height: 64px;
	justify-content: center;
}

.announcement-text {
	color: rgb(37, 150, 190);
	font-weight: var(--medium);
	font-size: 14px;
}

.announcement-link {
	font-weight: var(--bold);
	color: rgb(40, 122, 170);
	text-decoration: underline;
}

.announcement-link:active,
.announcement-link:visited,
.announcement-link:hover {
	text-decoration: none;
}
