:root {
    --black-header-AT: #424242;
    --blue-button-AT: #1a73e8;
    --blue-hover-AT: #165bb4;
    --gray-para-AT: rgba(117, 117, 117, 1);
    --gray-footer-AT: #eceff1;
    --size-title-AT: 48px;
    --weight-title-AT: 500;
    --line-title-AT: 60px;
    --subtitle-AT: 24px;
    --weight-text-AT: 500;
    --line-subtitle-AT: 30px;
    --size-para-AT: 16px;
    --line-para-AT: 20px;
    --size-text-btn-AT: 20px;

}

.section__four {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    max-height: 690;
    margin: 150px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.section__four__title {
    color: var(--black-header-AT);
    font-size: var(--size-title-AT);
    font-weight: var(--weight-title-AT);
    line-height: var(--line-title-AT);    
    margin-top: 100px;
    margin-bottom: 20px;
}

.section__subtitle {
    color: var(--gray-para-AT);
    font-size: var(--size-para-AT);
    font-weight: var(--weight-text-AT);
    line-height: var(--size-subtitle-AT);
}

.section__img__bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.section__img__bar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section__icon {
    width: 80px;
    height: 80px;
    margin: 0 15px;
}

.section__icon__text {
    width: 120px;
    font-size: 15px;
    font-weight: var(--weight-text-AT);
    line-height: var(--line-para-AT);
}

.section__link {
    text-decoration: none;
}

.section__button {
    width: 210px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--blue-button-AT);
    color: white;
    font-size: var(--size-text-btn-AT);
    font-weight: var(--weight-title-AT);
    line-height: var(--line-para-AT);
    border: none;
    margin: 50px 0 80px 0;
    cursor: pointer;
}

.section__button:hover {
    background-color: var(--blue-hover-AT);
}

.section__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: center;
    width: 100%;
    height: 184px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--gray-footer-AT);
}

.section__footer div:nth-child(2){
    width: 30%;
}

.footer__icon {
    width: 180px;
    height: 90px;

}

.section__footer p {
    font-size: 15px;
    font-weight: var(--weight-text-AT);
    line-height: var(--line-para-AT);
    margin: 15px 0;
}

.footer__link {
    color: var(--blue-button-AT);
    font-size: 16px;
    font-weight: 600;
    line-height: var(--line-para-AT);
    text-decoration: none;    
}

.footer__link:hover {
    text-decoration: underline;
}