* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section-8 {
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.256);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.256);
}
.section-8-heading {
  width: 600px;
  margin: 10px auto;
  padding-top: 50px;
  font-weight: 500 ;
  text-align: center;
  font-size: 40px;
}
.section-8-subheading {
  width: 700px;
  margin: 20px auto;
  text-align: center;
  padding: 30px 0;
  font-size: 15px;
}
.container-card-code {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(128, 128, 128, 0.404);
}
.container-code {
margin: 20px auto 20px auto;
  width: 1093px;

}
.container-code-flex {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.256);
  border-radius: 10px;
}
.container-code-lefside {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 70px;
  padding-bottom: 20px;
  width: 300px;
}
.list-styling {
  height: 100px;
  display: flex;
  padding-top: 40px;
  width: 302px;
  color: rgba(27, 25, 25, 0.353);
  font-weight: 800;
  padding-left:40px;
  padding-right:80px;
}
.list-styling:hover {
  background-color: rgba(255, 112, 36, 0.783);
  color: white;
  cursor: pointer;
}

.two-items {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container-code-content {
  display: flex;
  background-color: #2e3a4d;
  width: 790px;
  font-size: 18px;
  white-space: nowrap;
  overflow-x: auto;
  color: gray;
  border: 1px solid gray;
}
.heading-code-content {
  padding:10px 20px 
}
.heading-code-content:hover {
  color: white;
  cursor: pointer;
}
.subpara {
  font-size: 15px;
  padding:5px 0 ;
}
.code-content-middle {
  width: 790px;
  padding: 50px;
  background-color: rgba(87, 87, 87, 0.067);
}
.code-blue-words {
  color: blue;
}
.section-8-footer {
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 64, 255, 0.768);
  color: white;
  margin: 70px auto;
  font-size: 20px;
  font-weight: 600;
}
.section-8-footer:hover{
  cursor: pointer;
  background-color: var(--blue-hover);
    
}