:root {
    --black-header: #424242;
    --blue-button: #1a73e8;
    --blue-hover: #165bb4;
    --gray-para: rgba(117, 117, 117, 1);
    --gray-footer: #eceff1;
    --size-title: 42px;
    --weight-title: 500;
    --line-title: 60px;
    --size-subtitle: 24px;
    --weight-text: 400;
    --line-subtitle: 30px;
    --size-para: 16px;
    --line-para: 28px;

}

.section__seven {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-width: 70%;
    height: 630px;
    margin: 100px auto;
    background-image: url(../assets/section7/solutions-illo_1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 60px 100px;
    text-align: center;
}

.section__seven h1 {
    font-size: var(--size-title);
    font-weight: var(--weight-title);
    line-height: var(--line-title);
    color: var(--black-header);
    margin-bottom: 20px;
}

.section__seven p {
    font-size: var(--size-para);
    font-weight: var(--weight-text);
    line-height: var(--line-para);
    width: 75%;
}

.section__seven button {
    position: absolute;
    bottom: 100px;
    width: 240px;
    height: 56px;
    background-color: var(--blue-button);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: var(--size-para);
    font-weight: var(--weight-title);
    line-height: var(--line-para);
}

.section__seven button:hover{
    background-color: var(--blue-hover);
}